# mods stick stuff in all sorts of places
/*
!.gitignore
!/kubejs
/kubejs/README.txt
/kubejs/documentation
!/modlist.md
!/modrinth.index.json
!/package.json
!/package-lock.json
!/scripts
!/config
/config/*
!/config/almostunified
!/config/astages
!/config/bclib
!/config/biomesoplenty
!/config/biomeswevegone
!/config/burnt_basic.json
!/config/coldsweat
/config/coldsweat/*
!/config/coldsweat/*.toml
!/config/cristellib
!/config/dimensional_leap
!/config/explorerscompass-common.toml
!/config/fancymenu
!/config/fog
!/config/mods_optimizer
!/config/naturescompass-common.toml
!/config/nerb
!/config/netherportalspread
!/config/northerncompass
!/config/spyglass-improvements
!/config/paxi
!/config/questlog
!/config/regions_unexplored
!/config/sereneseasons
!/config/servercore
!/config/thirst
!/config/towns_and_towers
!/config/umines
!/config/vanilla_structures
!/config/wover
!/config/ae2-client.toml
!/config/ae2-common.toml
!/config/amendments-common.toml
!/config/atmospheric-common.toml
!/config/bcc-common.toml
!/config/betterdays-common.toml
!/config/betterdungeons*.toml
!/config/betterendisland*.toml
!/config/betterfortresses*.toml
!/config/betterjungletemples*.toml
!/config/bettermineshafts*.toml
!/config/betteroceanmonuments*.toml
!/config/betterstrongholds*.toml
!/config/betterwitchhuts*.toml
!/config/betterworldloadingnf21.json
!/config/bits_n_bobs-server.toml
!/config/blazinghot-server.toml
!/config/blockreplacer.json5
!/config/blueprint-common.toml
!/config/bridgingmod.json
!/config/c2me.toml
!/config/ceramicbucket-server.toml
!/config/connectorextras_energy_bridge-common.toml
!/config/copycats-common.toml
!/config/copycats-server.toml
!/config/craftpresence.json
!/config/create_cold_sweat-server.toml
!/config/create_configured-server.toml
!/config/create_connected-server.toml
!/config/create_new_age-common.toml
!/config/create_reactive_stress-common.toml
!/config/create_train_physics-common.toml
!/config/createaddition-common.toml
!/config/createappliedkinetics-common.toml
!/config/createcasing-common.toml
!/config/createdieselgenerators-common.toml
!/config/createdieselgenerators-server.toml
!/config/createfiltersanywhere-server.toml
!/config/createhorsepower-server.toml
!/config/createlowheated-common.toml
!/config/createmetalogistics-server.toml
!/config/createoreexcavation-server.toml
!/config/createpickywheels-common.toml
!/config/createrailwaysnavigator-common.toml
!/config/create-server.toml
!/config/createsifter-server.toml
!/config/custommeteor-common.toml
!/config/dark-common.toml
!/config/deeperdarker-common.toml
!/config/DistantHorizons.toml
!/config/dndecor-server.toml
!/config/dndesires-server.toml
!/config/doppler.cfg
!/config/dragonlib-server.toml
!/config/dynamic_asset_generator.json
!/config/dynamicelectricity-server.toml
!/config/dynamictrees-common.toml
!/config/dynamictrees-server.toml
!/config/dynamictreesplus-common.toml
!/config/dynamictreesplus-server.toml
!/config/electrodynamics-common.toml
!/config/entity_model_features.json
!/config/entity_sound_features.json
!/config/entity_texture_features.json
!/config/epicfight-client.toml
!/config/epicfight-common.toml
!/config/epictweaks-client.toml
!/config/everycomp-client.toml
!/config/everycomp-common.toml
!/config/everycomp-entries.toml
!/config/everycomp-hazardous.toml
!/config/excavated_variants.json
!/config/extended_industrialization-startup.toml
!/config/fastpaintings-common.toml
!/config/ferritecore-mixin.toml
!/config/fiberopticcables_config.toml
!/config/flowing_fluids.json
!/config/fluid-stressValues.v1.toml
!/config/fml.toml
!/config/gravestone-server.toml
!/config/guideme.toml
!/config/hardcore_torches-common.toml
!/config/ignition-common.toml
!/config/immediatelyfast.json
!/config/lanternlib-client.toml
!/config/lanternlib-common.toml
!/config/lanternlib-logfilter.json5
!/config/lavasand.json
!/config/lithium.properties
!/config/lmft.json
!/config/mindfuldarkness-client.toml
!/config/modern_industrialization-server.toml
!/config/modern_industrialization-startup.toml
!/config/modernfix-mixins.properties
!/config/moonlight-common.toml
!/config/naturaltemperature-common.toml
!/config/natures_spirit-common.toml
!/config/neoforge-client.toml
!/config/neoforge-common.toml
!/config/neoforge-server.toml
!/config/netherportalspread.json5
!/config/northstar-server.toml
!/config/notenoughcrashes.json
!/config/nuclearscience-common.toml
!/config/patience.json
!/config/powergrid-server.toml
!/config/railways-server.toml
!/config/reducedloot-common.toml
!/config/reducedores-common.toml
!/config/resourcepackoverrides.json
!/config/revamped_phantoms.json
!/config/sereneseasonsplus-common.toml
!/config/serverpause-common.toml
!/config/sharedadvancements-server.toml
!/config/simpleblockphysics-common.toml
!/config/simpleclouds-client.toml
!/config/simpleclouds-common.toml
!/config/simpleclouds-server.toml
!/config/simple-custom-early-loading.json
!/config/simplefog.json
!/config/smoothskies.json
!/config/snowrealmagic-common.yaml
!/config/sodium-extra-options.json
!/config/sodium-options.json
!/config/sodiumextras-client.toml
!/config/soundattract-common.toml
!/config/SoundPhysicsPerfected.json5
!/config/sparsestructures.json5
!/config/structure_layout_optimizer.jsonc
!/config/supplementaries-common.toml
!/config/suppsquared-common.toml
!/config/survivalistessentials-common.toml
!/config/tectonic.json
!/config/terrablender.toml
!/config/tfmg-common.toml
!/config/tfmg-server.toml
!/config/thick_air-common.toml
!/config/thief-server.toml
!/config/thirstwasfixed-startup.toml
!/config/timm-client.toml
!/config/unbreakables-common.toml
!/config/undergarden-common.toml
!/config/unifiedcrops-common.toml
!/config/unlitcampfire-server.toml
!/config/variantsandventures.json
!/config/via_romana.json
!/config/visualworkbench-common.toml
!/config/voltaic-common.toml
!/config/wardentools-common.toml
!/config/wardentools-server.toml
!/config/waystones-common.toml
!/globalresources
/globalresources/excavated_variants.zip
!/config/spark
/config/spark/*
!/config/spark/config.json